<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login Page</h1>
    <form method="post" action="http://google.com/">
        {% csrf_token %}
        <label for="username">Username: </label>
        <input id="username" type="text" name="username"><br><br>

        <label for="password">Password: </label>
        <input id="password" type="password" name="password"><br><br>

        <button type="submit">Login</button>

    </form>
</body>
</html>